body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #23272f;
  color: #fff;
}

h1 {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
  cursor: pointer;
  position: relative;
}

.darkTile {
  background-color: #041e41;
}

.lightTile {
  background-color: #3581b8;
}

.piece {
  background-position: center;
  background-size: contain;
}

.br {
  background-image: url(/public/sprites/rook-b.svg);
}

.bn {
  background-image: url(/public/sprites/knight-b.svg);
}

.bb {
  background-image: url(/public/sprites/bishop-b.svg);
}

.bq {
  background-image: url(/public/sprites/queen-b.svg);
}

.bk {
  background-image: url(/public/sprites/king-b.svg);
}

.bp {
  background-image: url(/public/sprites/pawn-b.svg);
}

.wr {
  background-image: url(/public/sprites/rook-w.svg);
}

.wn {
  background-image: url(/public/sprites/knight-w.svg);
}

.wb {
  background-image: url(/public/sprites/bishop-w.svg);
}

.wq {
  background-image: url(/public/sprites/queen-w.svg);
}

.wk {
  background-image: url(/public/sprites/king-w.svg);
}

.wp {
  background-image: url(/public/sprites/pawn-w.svg);
}

.selected {
  background-color: rgb(212, 231, 39);
}

.allowedMoves::before {
  content: "";
  display: block;
  width: 40%;
  height: 40%;
  background: #00000035;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
